body {
  margin: 0;
  
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

.none {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

html {box-sizing: border-box;
}

.button {
  display: block;
  padding: 13px 0;

  font: inherit;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.button:hover,
.button:focus { background-color: #e74246; }

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

/* Header */

.header {
  background-color: #eeeeee;
  text-transform: uppercase;
}

.main-navigation .container,
.site-navigation {
  display: flex;
  justify-content: space-between;
}

.main-navigation .container {
  padding-top: 48px;
  padding-bottom: 12px;
}

.site-navigation {
  width: 440px;
  margin: 0;
  margin-right: 45px;
  padding: 0;
  padding-top: 30px;
  list-style: none;
}

.header-logo:hover,
.header-logo:focus {
   opacity: 0.8;
}

.header-logo:active {
  opacity: 0.3;
}

.user-navigation {
  margin: 0;
  padding: 0;
  padding-top: 30px;
  width: 115px;
  list-style: none;
}

.site-navigation a{
  font: inherit;
  color: #000000;
}

.site-navigation .current { 
  padding-bottom: 10px;
  border-bottom: 2px solid red;
}

.user-navigation .current { 
  padding-bottom: 25px;
  border-bottom: 2px solid red;
}

.user-navigation a {
  display: block;
  text-align: right;
  font: inherit;
  color: #000000;
  
  background-image: url("/img/svg/cart-icon.svg");
  background-position: 0% 10%;
  background-repeat: no-repeat;

}
.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active { color: rgba(0, 0, 0, 0.3); }


/* Slider */

.slider {
  position: relative;
  padding: 0;
  background-color: #eeeeee;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 10;
  
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 18px;
  height: 18px;
  background: #ffffff;
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-item {
  display: none;
  box-sizing: border-box;
  padding-top: 60px;
  padding-bottom: 80px;
}

.slider-item:nth-child(1) {
  background-image: url("/img/slide-1.png");
  background-repeat: no-repeat;
  background-position: 93% 0;
}

.slider-item:nth-child(2) {
  background-image: url("/img/slide-2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("/img/slide-3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

.product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

.product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

.product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

.product-1:checked ~ .slider-controls .slider-controls-item--1::before,
.product-2:checked ~ .slider-controls .slider-controls-item--2::before,
.product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;
  
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

.slider-item .button {
  width: 240px;
}

/* Products */

.products {
  margin: 0;
  margin-top: 80px;
}

.products-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.products-item {
  box-sizing: border-box;
  min-width: 300px;
  margin-right: 100px;
  margin-bottom: 80px;
}

.products-title {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 23px;
  margin-bottom: 18px;
}

.products-item p {
  width: 255px;
}

.products-item .button {
  width: 160px;
  margin-top: 32px;
}

.btn-app {background-color: #00ca74;}

.btn-app:hover,
.btn-app:focus {background-color: #00bc6c;}
.btn-app:active {background-color: #00aa62;}

.btn-present {background-color: #efc84a;}

.btn-present:hover,
.btn-present:focus {background-color: #eab534;}
.btn-present:active {background-color: #e5a722;}

/* Features */

.features {
  display: flex;
  justify-content: space-between; 
}

.features .container {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 50px; 
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.features-left {
  margin: 0;
  padding: 0;
  width: 660px;
}

.features-right {
  padding-top: 10px;
  width: 360px;
}

.features-slogan {
  margin-bottom: 32px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.features-orders {
  margin-top: 40px;
  margin-bottom: 23px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.order-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.order-item { 
  margin-bottom: 24px;
}

.order-item::before { 
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 7px;
  margin-top: -2px;
  width: 24px;
  height: 2px;
  background-color:  #fb565a;
}

.indicators-title {
  margin-top: 30px;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.indicators-list {
  display: flex;
  margin: 0;
  margin-top: 50px;
  padding: 0; 
  list-style: none;
}

.indicators-list li {
  max-width: 105px;
  margin-right: 15px;
}

.indicator-value {
  font-size: 45px;
  font-weight: 700;
}

.indicator-percent {
  position: relative;
  top: -10px;
  left: -3px;
  vertical-align: top;
  font-size: 25px;
  font-weight: 700;
}

.indicators-list p {
  line-height: 18px;
  margin-top: 20px;
}

/* Portfolio */

.portfolio .container { 
  border-bottom: 2px solid #eeeeee;
  margin-bottom: 80px;
}

 .portfolio-list {
  display: flex;
  align-items: center;
  list-style: none; 
  margin-top: 45px;
  margin-bottom: 63px;
  padding: 0;
}

.portfolio-item {
  width: 300px;
  height: 52px;
  margin-top: 20px;
  text-align: center;
  border-right: 2px solid #eeeeee;
}

.portfolio-list li:first-child,
.portfolio-list li:last-child {
  width: 280px;
}

.portfolio-list li:last-child {
  border-right: 2px solid #ffffff;
}

.portfolio-item a { 
  position: relative;
  opacity: 0.2;
}

.portfolio-item:first-child a { 
  top: -3px;
  left: -7px;
}

.portfolio-item:nth-child(2) a { 
  top: -18px;
  left: 1px;
} 

.portfolio-item:last-child a { 
  top: -14px;
  left: 10px;
}

.portfolio-item a:hover { opacity: 1; }
.portfolio-item a:active { opacity: 0.1; }


/* Footer */

.footer {
  position: relative;
  background: url(/img/map-marker.png) 63% 11% no-repeat,
              url(/img/map.jpg) top center no-repeat;
}

.map-google {
  position: absolute;
  width: 100%;
  height: 416px;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.footer .container {
  display: flex;
  flex-direction: column;
  padding-top: 55px;
}

.contacts {
  position: relative;
  z-index: 1;
  width: 270px;
  padding-top: 53px;
  padding-left: 50px;
  padding-bottom: 45px;
  margin-right: 360px;
  margin-bottom: 110px;
  background-color: #ffffff;
}

.contacts-title {
  font-size: 18px;
  margin: 0;
}

.contacts-address {
  color: #666666;
  line-height: 18px;
  margin-top: 25px;
  margin-bottom: 15px;
}

.contacts-phone {
  color: #666666;
  margin-bottom: 33px;
}

.contacts .button {
  width: 219px;
}

.social-wrapper {
  display: flex;
}

.social-list { 
  display: flex;
  justify-content: space-between;
  list-style: none; 
  width: 260px;
  padding: 0;
  margin-right: 140px;
}

.social-item {
  width: 79px;
  height: 79px;
  padding: 0;
  margin: 0;
  margin-bottom: 70px;
  border-radius: 50%;
  background-color: #e1e1e1; 
} 

.social-item a {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 26px;
  height: 22px;
  margin: 30px 27px;
} 

.social-item:hover { background-color: #e74246; }

.social-item:active img {
  opacity: 0.3;
  background-color: #d7373b;
}

.social-slogan {
  margin: 0;
  padding-top: 21px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.15px;
 }

.social-sale {
  margin-top: 9px;
  color: #444444;
}
