/* font-family: 'Roboto', Arial, sans-serif; */

body {
  margin: 0;
  
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  

  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

html {box-sizing: border-box;
}

.button {
  display: block;
  padding: 13px 0;

  font: inherit;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.button:hover,
.button:focus { background-color: #e74246; }

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  padding: 50px 20px 0 20px;
  min-height: 80px;
  background-color: #eeeeee;
  text-transform: uppercase;
}

.header-logo:hover,
.header-logo:focus {
   opacity: 0.8;
}

.header-logo:active {
  opacity: 0.3;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  list-style: none;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  width: 440px;
  margin: 0;
  margin-right: 245px;
  padding: 0;
  list-style: none;
}

.user-navigation {
  margin: 0;
  padding: 0;
  width: 115px;
  list-style: none;
  
}

.site-navigation a{
  font: inherit;
  color: #000000;
}

.site-navigation .current { 
  padding-bottom: 10px;
  border-bottom: 2px solid red;
}

.user-navigation .current { 
  padding-bottom: 25px;
  border-bottom: 2px solid red;
}

.user-navigation a {
  display: block;
  text-align: right;
  font: inherit;
  color: #000000;
  
  background-image: url("/img/svg/cart-icon.svg");
  background-position: 0% 10%;
  background-repeat: no-repeat;

}
.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active { color: rgba(0, 0, 0, 0.3); }


/* Slider */

.slider {
  position: relative;
  padding: 0 20px;
  background-color: #eeeeee;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 10;
  
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 18px;
  height: 18px;
  background: #ffffff;
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-item {
  display: none;
  box-sizing: border-box;
  padding-top: 60px;
  padding-bottom: 80px;
}

.slider-item:nth-child(1) {
  background-image: url("/img/slide-1.png");
  background-repeat: no-repeat;
  background-position: 93% 0;
}

.slider-item:nth-child(2) {
  background-image: url("/img/slide-2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("/img/slide-3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

.product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

.product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

.product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

.product-1:checked ~ .slider-controls .slider-controls-item--1::before,
.product-2:checked ~ .slider-controls .slider-controls-item--2::before,
.product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;
  
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 40px;
}

.slider-item .button {
  width: 240px;
}







